// pages banner
.products-banner {
    background-image: url('/public/images/sc/products-banner2.png');
    height: 300px;
    background-position: 50% 50%;
    background-size: cover ;
}

.about-banner {
    background-image: url('/public/images/sc/about.png');
    height: 300px;
    background-position: 50% 50%;
    background-size: cover ;
}

.notice-banner {
    background-image: url('/public/images/sc/notice1.png');
    height: 300px;
    background-position: 50% 50%;
    background-size: cover ;
}

.cart-banner {
    background-image: url('/public/images/sc/cart-banner2.png');
    height: 300px;
    background-position: 50% 50%;
    background-size: cover ;
}


